# Copy file ini jadi ".env" lalu isi sesuai punyamu. JANGAN commit file ".env" ke git.

# --- MySQL ---
DB_ROOT_PASSWORD=password_mysql_root
DB_NAME=scan_tracker
DB_USER=scan_user
DB_PASS=password_mysql_user

# --- HiveMQ Cloud ---
MQTT_HOST=814ececcb86541d48d0d775d9a8c9639.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=zra
MQTT_PASS=12345678
MQTT_TOPIC=esp32/sensor1/jarak
